.heading {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 10px;
    font-size: 1.5rem;
}

.product-item {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.button {
    display: inline-block;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.total {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}
